<title>Cargobot</title>
{% if status == "NOT_WORKING" %}
<div style="text-align: center; margin-top: 20px;">
    <div>
        Status: {{ status }}
    </div>
    <div>
        Current Progress: {{ progress }}
    </div>
    {% if config == "UNDONE" %}
    <div>
        <form action="{% url 'set_box_amount' %}" method="get">
            {% csrf_token %}
            <button type="submit" style="padding: 10px 20px; background-color: hsl(267, 39%, 49%); color: white; border: none; cursor: pointer;">Create Boxes</button>
        </form>
    </div>
    {% elif config == "DONE" %}
    <div>
        <form action="{% url 'start_process' %}" method="get">
            {% csrf_token %}
            <button type="submit" style="padding: 10px 20px; background-color: hsl(267, 39%, 49%); color: white; border: none; cursor: pointer;">START EXECUTION</button>
        </form>
    </div>
    {% endif %}
</div>

{% elif status == "WORKING" %}
<div style="text-align: center; margin-top: 20px;">
    <div>
        Status: {{ status }}
    </div>
    <div>
        Current Progress: {{ progress }}
    </div>
    <div>
        <form action="{% url 'pause_process' %}" method="get">
            {% csrf_token %}
            <button type="submit" style="padding: 10px 20px; background-color: hsl(267, 39%, 49%); color: white; border: none; cursor: pointer;">PAUSE PROCESS</button>
        </form>
        <form action="{% url 'stop_process' %}" method="get">
            {% csrf_token %}
            <button type="submit" style="padding: 10px 20px; background-color: hsl(267, 39%, 49%); color: white; border: none; cursor: pointer;">STOP PROCESS</button>
        </form>
    </div>
</div>
{% elif status == "WORKING" %}
<div style="text-align: center; margin-top: 20px;">
    <div>
        Status: {{ status }}
    </div>
    <div>
        Current Progress: {{ progress }}
    </div>
    <div>
        <form action="{% url 'continue_process' %}" method="get">
            {% csrf_token %}
            <button type="submit" style="padding: 10px 20px; background-color: hsl(267, 39%, 49%); color: white; border: none; cursor: pointer;">CONTINUE PROCESS</button>
        </form>
    </div>
</div>
{% endif %}
